<div style="color:aliceblue" class="main">
    <div>
        {{#if user}}
        <h1 class="greeting">Welcome to ChaiRM, {{user.name}}!!!</h1>
    </div>
    <div class="home_content">
    <div class="customersOnlyName">
        <h3>
            <a style="text-decoration: none; color:aliceblue" href=" /clients">Клиенты</a>
        </h3>
        {{#each customersList}}
        <p>{{this.firstName}}</p>
        {{/each}}
    </div>


    <div class="ordersOnlyTitle">
        <h3>
            <a style="text-decoration: none; color:aliceblue" href=" /orders">Заказы</a>
        </h3>
        {{#each orderList}}
        <p>{{this.orderNumber}}</p>
        {{/each}}
    </div>



    </div>
    {{else}}
    <div style="line-height: 300px; text-align: center;">
    <h1>Please, LogIn or SiqnUp</h1>
    </div>
    {{/if}}
</div>
