<main class="main">

  <h1>{{error}}</h1>



  <form class="regform" action="/log/signin" method="POST">
    <div class="login">
      <label for="exampleInputEmail1" class="form-label-email">Enter your login</label> <br>
      <input name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="password">
      <label for="exampleInputPassword1" class="form-label-password">Enter your password</label> <br>
      <input name="password" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</main>
