<div class="container">
  <main class="main">
    <form class="regform" action="/log/signup" method="POST">
      <div class="name">
        <label for="exampleInputEmail2" class="registration_style">Введите имя</label> <br>
        <input name="firstName" type="text" placeholder="Имя" class="form-control" id="exampleInputEmail2"
          aria-describedby="emailHelp">
      </div>
      <div class="lastname">
        <label for="exampleInputEmail2" class="registration_style">Введите фамилию</label> <br>
        <input name="lastName" type="text" placeholder="Фамилия" class="form-control" id="exampleInputEmail2"
          aria-describedby="emailHelp">
      </div>
      <div class="position">
        <label for="exampleInputEmail1" class="registration_style">Введите e-mail</label> <br>
        <input name="email" type="text" placeholder="example@qwerty.com" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </div>
      <div class="login">
        <label for="exampleInputPassword1" class="registration_style">Введите пароль</label> <br>
        <input name="password" type="password" placeholder="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="password">
        <label for="exampleInputPassword1" class="registration_style">Введите должность</label> <br>
        <input name="position" type="text" placeholder="должность" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn">Отправить</button>
    </form>
  </main>

</div>
